{% if field.is_hidden %}
  {{ field }}
{% else %}
  <div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required or field.field.widget.attrs.data_required_hint %} <span class="error-text">*</span>{% endif %}</label>
    {{ field }}
    {% if field.help_text and field.field.widget.input_type != 'password' %}
      <div class="form-help">{{ field.help_text }}</div>
    {% endif %}
    {% for error in field.errors %}
      <div class="error-text">{{ error }}</div>
    {% endfor %}
  </div>
{% endif %}

